GOOGLE_API_KEY=TU_API_KEY_AQUI
GOOGLE_PLACES_TEXT_QUERY="Scotiabank ATM Republica Dominicana"
GOOGLE_PLACES_PAGE_SIZE=20
GOOGLE_PLACES_MAX_PAGES=3
GOOGLE_PLACES_REQUEST_DELAY_SECONDS=2
GOOGLE_PLACES_TIMEOUT_SECONDS=30

# PostgreSQL
DB_ENGINE=postgresql
DATABASE_URL=postgresql+psycopg2://atm:atm_password@localhost:5432/atm_network_v1

# Microsoft SQL Server
# DB_ENGINE=mssql
# DATABASE_URL=mssql+pyodbc://sa:YourStrong!Passw0rd@localhost:1433/atm_network_v1?driver=ODBC+Driver+17+for+SQL+Server&TrustServerCertificate=yes

OUTPUT_CSV=data/cajeros_scotiabank_rd_google.csv
BANK_NAME=Scotiabank
COUNTRY_NAME=Dominican Republic

